/*V A R I A B L E*/

:root {
  --ff-heading: "Roboto", sans-serif;
  --ff-body: "Inter", sans-serif;
  --color-first: #FFE6E6;
  --color-second: #E1AFD1;
  --color-third: #AD88C6;
  --color-fourth: #7469B6;
  --color-five: #FFFFFF;
  --color-six: #000000;

}

/* ------------------- */
/*G E N E R A L*/
/* ------------------- */

body {
  background-color: var(--color-first);
  /* background: linear-gradient(to bottom, #AEE2FF 40%, #372948 100%); */
  font-family: var(--ff-body);
  font-weight: 100;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--color-five);

  main {
    background: url(../images/bg-main.png.png) no-repeat center;
    height: 800px;
    overflow: hidden;
    width: 400px;
  }
}

/* ------------------- */
/*01- W E L C O M E*/
/* ------------------- */


main.welcome {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 5rem;
  }

  section.owl-carousel {
    margin-top: 50px;

    div.owl-item {
      display: flex;
      flex-direction: center;
      justify-content: center;

      img.welcome {
        height: 300px;
        width: 300px;
      }

      img.catalogue {
        height: 140px;
        width: 140px;
      }
    }

  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;

    a:is(:link, :visited) {
      background: url(../images/btn-link.png) no-repeat center;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2.9rem;
      transition: all 0.1s ease-in;
      width: 300px;
    }

    a:is(:hover) {
      background: url(../images/btn-hover.png) no-repeat center;
      transform: scale(1.01) translateY(-1px);
    }

    a:is(:active) {
      background: url(../images/btn-activate.png) no-repeat center;
    }
  }

}

/* ------------------- */
/*02- Catalogue*/
/* ------------------- */
main.catalogue {
  header {
    display: flex;
    margin-block-start: 41px;
    justify-content: space-between;
    align-items: center;
    padding-left: 29px;
    padding-right: 12px;

  }

  section.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    input.inpFilter {
      background: url(../images/filter.svg) no-repeat 250px;
      height: 45px;
      width: 300px;
      border-radius: 25px;
      border-color: white;
      color: white;
      text-indent: 30px;
      font-size: 28px;
      background-color: black;

      &::placeholder {
        color: white;
      }
    }
  }


  div.containerCarrusel {
    margin-top: 30px;
    h2.category {
      margin-block: 20px;
      font-size: 24px;
      text-indent: 30px;
    }
  }

  section.owl-carousel {


    figure {
      h2 {
        font-family: var(--ff-heading);
        font-size: 20px;
      }
    }


    p {
      font-family: var(--ff-body);
      text-decoration: underline;
    }

    div.owl-item {
      display: flex;
      flex-direction: center;
      justify-content: center;

      img.catalogue {
        height: 140px;
        width: 140px;
        margin: 0px;
      }
    }

  }

  

}

/* ------------------- */
/*02.1-View-Game*/
/* ------------------- */
main.view-game {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
  header {
    display: flex;
    margin-block-start: 41px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
  }

  section.imgGame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  

  section.information{
    margin-top: 10px;
    display: flex;
    width: 284px;
    justify-content: space-between;
    div.row{
      font-size: 20px;
    }
  }
  section.description{
    margin-top: 20px;
    width: 284px;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;

    a:is(:link, :visited) {
      background: url(../images/btn-link.png) no-repeat center;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2.9rem;
      transition: all 0.1s ease-in;
      width: 300px;
    }

    a:is(:hover) {
      background: url(../images/btn-hover.png) no-repeat center;
      transform: scale(1.01) translateY(-1px);
    }

    a:is(:active) {
      background: url(../images/btn-activate.png) no-repeat center;
    }
  }

}