/*V A R I A B L E*/

:root {
  --ff-heading: "Roboto", sans-serif;
  --ff-body: "Inter", sans-serif;
  --color-first: #FFE6E6;
  --color-second: #E1AFD1;
  --color-third: #AD88C6;
  --color-fourth: #7469B6;
  --color-five: #FFFFFF;
  --color-six: #000000;

}

/* ------------------- */
/*G E N E R A L*/
/* ------------------- */

body {
  background-color: var(--color-first);
  /* background: linear-gradient(to bottom, #AEE2FF 40%, #372948 100%); */
  font-family: var(--ff-body);
  font-weight: 100;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--color-five);

  main {
    position: relative;
    background: url(../images/bg-main.png) no-repeat center;
    height: 800px;
    overflow: hidden;
    width: 400px;
  }

  nav.nav {
    background-color: #0009;
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 800px;
    padding-top: 8rem;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translateY(-60%) scale(20%);
    transition: all 0.4s ease-in-out;
    z-index: 2;
    width: 400px;

    img.title-menu {
      margin-block: 2rem;
    }
  }

  nav.nav.active {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a:is(:link, :visited) {
      color: var(--color-five);
      font-size: 20px;
      font-weight: 400;
      height: 60px;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: .6rem;
      padding-left: 20px;
      margin-top: 0.6rem;
      margin-bottom: 0.6rem;
      transition: all 0.3s ease-in;
      text-decoration: none;
      width: 300px;
    }

    a:is(:hover) {
      transform: scale(1.02) translateY(-5px);
    }
  }

}

/* ------------------- */
/*01- W E L C O M E*/
/* ------------------- */


main.welcome {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 5rem;
  }

  section.owl-carousel {
    margin-top: 50px;

    div.owl-item {
      display: flex;
      flex-direction: center;
      justify-content: center;

      img.welcome {
        height: 300px;
        width: 300px;
      }

      img.catalogue {
        height: 140px;
        width: 140px;
      }
    }

  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;

    a:is(:link, :visited) {
      background: url(../images/btn-link.png) no-repeat center;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2.9rem;
      transition: all 0.1s ease-in;
      width: 300px;
    }

    a:is(:hover) {
      background: url(../images/btn-hover.png) no-repeat center;
      transform: scale(1.01) translateY(-1px);
    }

    a:is(:active) {
      background: url(../images/btn-activate.png) no-repeat center;
    }
  }

}

/* ------------------- */
/*02- Catalogue*/
/* ------------------- */
main.catalogue {
  header {
    display: flex;
    margin-block-start: 41px;
    justify-content: space-between;
    align-items: center;
    padding-left: 29px;
    padding-right: 12px;

    position: relative;
    z-index: 3;

  }

  section.scroll {
    scrollbar-width: none;
    overflow-y: scroll;
    height: 640px;

    form.filter {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;

      input.inpFilter {
        background: url(../images/filter.svg) no-repeat 250px;
        height: 45px;
        width: 300px;
        border-radius: 25px;
        border-color: var(--color-five);
        color: var(--color-five);
        text-indent: 30px;
        padding-right: 50px;
        font-size: 24px;
        background-color: var(--color-six);

        &::placeholder {
          color: var(--color-five);
          opacity: .5;
        }
      }
    }
  }

  div.containerCarrusel {
    margin-top: 30px;

    h2.category {
      margin-block: 20px;
      font-size: 24px;
      text-indent: 30px;
    }
  }

  section.owl-carousel {

    figure {
      h2 {
        font-family: var(--ff-heading);
        font-size: 20px;
      }
    }

    p {
      font-family: var(--ff-body);
      text-decoration: underline;
    }

    div.owl-item {
      display: flex;
      flex-direction: center;
      justify-content: center;

      img.catalogue {
        height: 140px;
        width: 140px;
        margin: 0px;
      }
    }

  }

}

/* ------------------- */
/*02.1-View-Game*/
/* ------------------- */
main.view-game {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  header {
    display: flex;
    margin-block-start: 41px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;

  }

  section.imgGame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }


  section.information {
    margin-top: 10px;
    display: flex;
    width: 284px;
    justify-content: space-between;

    div.row {
      font-size: 20px;
    }
  }

  section.description {
    margin-top: 20px;
    width: 284px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;

    a:is(:link, :visited) {
      background: url(../images/btn-link.png) no-repeat center;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2.9rem;
      transition: all 0.1s ease-in;
      width: 300px;
    }

    a:is(:hover) {
      background: url(../images/btn-hover.png) no-repeat center;
      transform: scale(1.01) translateY(-1px);
    }

    a:is(:active) {
      background: url(../images/btn-activate.png) no-repeat center;
    }
  }

}


/* ------------------- */
/*04- login*/
/* ------------------- */
main.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  header {
    display: flex;
    margin-block-start: 41px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
    position: relative;
    z-index: 3;

    img.back {
      visibility: hidden;
    }
  }

  form.frmLogin {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 300px;
    gap: 10px;
    font: var(--ff-body);

    img {
      width: 50px;
    }

    input {
      height: 50px;
      border-radius: 25px;
      text-indent: 30px;
      font: var(--ff-body);
      color: var(--color-six);
      background-color: var(--color-five);
      padding-right: 50px;
      width: 300px;

      &::placeholder {
        color: var(--color-six);
        opacity: .7;
      }
    }

    label {
      position: relative;

      img {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 12.5px;
        width: 20px;
      }

      img:hover {
        transform: scale(1.03);
      }
    }

    button {
      cursor: pointer;
      margin-top: 100px;
      width: 300px;
      height: 50px;
      border-radius: 25px;
      background-color: var(--color-second);
      font: var(--ff-body);
      font-weight: 400;
      color: var(--color-six);
      font-size: 30px;
    }

    button:hover {
      background-color: var(--color-third);
      transform: scale(1.01) translateY(-1px);
    }

    button:active {
      background-color: var(--color-fourth);
    }

    a {
      margin-top: 50px;
      font: var(--ff-body);
      font-weight: 400;
      color: var(--color-five);
      font-size: 20px;
    }
  }
}

/* ------------------- */
/*05- register*/
/* ------------------- */
main.register {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  header {
    display: flex;
    margin-block-start: 41px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
    position: relative;
    z-index: 3;

    img.back {
      visibility: hidden;
    }
  }

  form.frmRegister {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 300px;
    gap: 10px;
    font: var(--ff-body);

    img {
      width: 50px;
    }

    input {
      height: 50px;
      border-radius: 25px;
      text-indent: 30px;
      font: var(--ff-body);
      color: var(--color-six);
      background-color: var(--color-five);
      padding-right: 50px;
      width: 300px;

      &::placeholder {
        color: var(--color-six);
        opacity: .7;
      }
    }

    label {
      position: relative;

      img {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 12.5px;
        width: 20px;
      }

      img:hover {
        transform: scale(1.03);
      }
    }

    button {
      cursor: pointer;
      margin-top: 0px;
      width: 300px;
      height: 50px;
      border-radius: 25px;
      background-color: var(--color-second);
      font: var(--ff-body);
      font-weight: 400;
      color: var(--color-six);
      font-size: 30px;
    }

    button:hover {
      background-color: var(--color-third);
      transform: scale(1.01) translateY(-1px);
    }

    button:active {
      background-color: var(--color-fourth);
    }

    a {
      margin-top: 50px;
      font: var(--ff-body);
      font-weight: 400;
      color: var(--color-five);
      font-size: 20px;
    }
  }
}

/* ------------------- */
/*06- dashboard*/
/* ------------------- */
main.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  header {
    display: flex;
    margin-block-start: 41px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
    position: relative;
    z-index: 3;

    img.back {
      visibility: hidden;
    }
    a{
      cursor: default;
    }
    
  }
  section.scroll {
    scrollbar-width: none;
    overflow-y: scroll;
    height: 640px;
    margin-top: 50px;
    color: var(--color-six);
    font-weight: 400;


    div.container-dark{
      margin-top: 20px;
      width: 300px;
      height: 120px;
      background-color: var(--color-fourth);
      border-radius: 30px;
      display: flex;
      align-items: center;
      position: relative;
      color: var(--color-five);
      ;

      div.icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;	

        img{
          width: 80px;
          margin: 0px;

        }
      }
      div.btn{
        position:absolute;
        right: 20px;
        bottom: 5px;
        button{
          cursor: pointer;
          width: 70px;
          height: 30px;
          border-radius: 20px;
          border: none;
          background-color: var(--color-second);
          color: var(--color-six);
          font-size: 20px;
        }
      }
    }

    div.container-light{
      margin-top: 20px;
      width: 300px;
      height: 120px;
      background-color: var(--color-third);
      border-radius: 30px;
      display: flex;
      align-items: center;
      position: relative;

      div.icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;	

        img{
          width: 80px;
          margin: 0px;
        }
      }
      div.btn{
        position:absolute;
        right: 20px;
        bottom: 5px;

        button{
          cursor: pointer;
          width: 70px;
          height: 30px;
          border-radius: 20px;
          border: none;
          background-color: var(--color-fourth);
          color: var(--color-six);
          font-size: 20px;
        }
      }
    }
  }  
}